@page 
@model DetailsModel
@{
    ViewData["Title"] = Model.Teamobj.Name;
}
<div class="row">
    <h2 class="m-auto">
        <img src="@("/image/nfl/logo/"+Model.Team+".png")" alt="@Model.Team"  />
        @Model.Teamobj.Name
    </h2>
        
</div>
<div class="row">
    <div class="col-6">
        <h5 class="text-center">Current record is</h5>
        <table class="table table-striped p-3">
            <thead class="thead-light"><tr>
                <th>Stat</th>
                <th>Value</th>
                </tr></thead>
                <tr>
                    <th>Wins</th>
                    <td>@Model.Teamobj.Win</td>
                </tr>
                <tr>
                    <th>Loss</th>
                    <td>@Model.Teamobj.Loss</td>
                </tr>
                <tr>
                    <th>Tie</th>
                    <td>@Model.Teamobj.Tie</td>
                </tr>
                <tr>
                    <th>Points For</th>
                    <td>@Model.Teamobj.PointsFor</td>
                </tr>
                <tr>
                    <th>Points Against</th>
                    <td>@Model.Teamobj.PointsAgainst</td>
                </tr>
    
        </table>
    </div>
    <div class="col-6" 
    style="background-image:url('@("/image/nfl/stadium/"+Model.Team+".jpg")');
    background-repeat:no-repeat; background-position:center center;background-size:contain;">

    </div>
</div>
<div class="row pt-3">
    <div class="col-6">
        <img src="@("/image/nfl/seating/"+Model.Team+".png")" alt="@Model.Teamobj.Location" />
        <hr />
        <h3 class="text-center">Stadium Address</h3>
        <hr />
        <address>
        <p>@Model.Teamobj.Stadium Stadium</p>
        <p>@Model.Teamobj.Address</p>
        <p>@Model.Teamobj.City, @Model.Teamobj.State @Model.Teamobj.Zip </p>
        </address>
        <hr />
        <p>Seats @Model.Teamobj.Capacity</p>
        <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:500px;height:500px;">
            <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" 
                frameborder="0" src="@("https://www.google.com/maps/embed/v1/place?q=" + Model.Teamobj.Latitude +","+ Model.Teamobj.Longitude + "&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8")"></iframe>
            </div><a class="embed-map-html" href="https://kbj9qpmy.com/bp" id="make-map-infor-mation">Internet Provider</a><style>
                                                                                                                                                                                                                                                                                                                                                                                      #my-map-canvas img {
                                                                                                                                                                                                                                                                                                                                                                                          max-height: none;
                                                                                                                                                                                                                                                                                                                                                                                          max-width: none !important;
                                                                                                                                                                                                                                                                                                                                                                                          background: none !important;
                                                                                                                                                                                                                                                                                                                                                                                      }</style>
        </div>
        
    </div>

    <div class="col-6 border border-dark">
        <h3 class="text-center">Players</h3>
        <hr />
        <table class="mr-auto ml-auto border border-dark">
            <thead class="border border-dark">
            <th class="border border-dark">#</th>
            <th class="border border-dark">Name</th>
            <th class="border border-dark">Position</th>
            </thead>
        
        @foreach (Player player in Model.Players)
        {
          
            <tr>
                <td class="p-2 text-center border border-info">@player.Number</td>
                    <td class="p-2 text-center border border-info"><a href="/">@player.Name</a></td>
                    <td class="p-2 text-center border border-info">@player.Position</td>
            </tr>
            

        }
        </table>
    </div>
</div>